body {
    font-family: "Raleway", sans-serif;
    text-align: center;
}

a {
    text-decoration: none;
}

h1 {
    color: white;
    font-weight: 400;
    font-size: 45px;
    letter-spacing: 1px;
    text-transform: uppercase;
}

a {
    color: white;
    letter-spacing: 1px;
    font-weight: 600;
    font-size: 18px;
    text-transform: uppercase;
    margin: 0 18px;
    border-bottom: 2px solid transparent;
}

a:hover {
    border-bottom: 2px solid white;
}

h3 {
    color: #0D2C40;
    letter-spacing: 1px;
    font-weight: 600;
    font-size: 20px;
    text-transform: uppercase;
}

p {
    font-family: "Droid Serif", sans-serif;
    line-height: 26px;
    font-size: 18px;
}

header {
    background-color: #f15b31;
    padding: 30px 20px;
}

body {
    margin: 0;
}

nav {
    background-color: #00a6b3;
    padding: 20px 0;
}

main {
    width: 850px;
    margin: 35px auto;
}

img {
    margin: 40px 8px 0 8px;
}

footer {
    text-transform: uppercase;
    padding: 0 20px;
    background-color: #0d2c40;
    color: white;
    font-size: 14px;
    letter-spacing: .08em;
    font-weight: 500;
}

.copyright, .message {
    font-family: Raleway, cursive;
}

.copyright {
    float: left;
}

.message {
    float: right;
}

.clearfix:after {
    visibility: hidden;
    display: block;
    content: " ";
    clear: both;
    height: 0;
    font-size: 0;
}

.name {
    color: #f15b31;
    font-weight: 700;
}

#reset-button {
    margin: 35px auto;
    padding: 10px;
    background-color: #f15b31;
    border-radius: 6%;
    color: white;
    font-family: "Raleway", sans-serif;
    font-weight: bold;
    font-size: 20px;
    border: 0px;
}

.scoreBoard {
    margin-top: 55px;
    color: #f15b31;
    font-family: "Raleway", sans-serif;
    font-weight: bold;
    font-size: 30px;

}

#score {
    font-size: 40px;
}
